body {
  font-family: 'Inter', sans-serif;
}

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

/* Utility Classes */
.u-margin-bottom-medium {
  margin-bottom: 2rem;
}

/* ------------------ LOGO ------------------ */
.login__logo-box {
  position: absolute;
  top: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.login__logo {
  height: 40px;
  width: 40px;
}

/* ------------------ REUSABLE COMPONENTS ------------------ */
.heading-secondary {
  font-size: 4rem;
  color: #fff;
  font-weight: bold;
  letter-spacing: 3px;
}

/* ------------------ LOGIN PAGE ------------------ */
.section-login {
  min-height: 100vh;
  min-width: 100vw;
  background-image: linear-gradient(to right, rgba(3, 3, 3, 0.623), rgba(139, 138, 138, 0.219));
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.login__background-image { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.login__form {
  padding-left: 4rem;
}

/* ------------ Form Elements ------------ */
.form__group {
  position: relative;
  min-width: 600px;
  max-width: 800px;
  text-align: left;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}

/* ------------ Input Box ------------ */
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: #fff;
  padding: 2rem 2rem 1rem 2rem;
  border-radius: 10px;
  background-color: rgba(124, 118, 118, 0.315);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s;
}

.form__input::-webkit-input-placeholder {
  color: rgb(216, 210, 210);
}

/* --- Underlines on the input box for validation --- */
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

/* Label that appears after writing a text */
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.4rem;
  display: block;
  transition: all 0.3s;
  color: rgb(155, 149, 149);

  position: absolute;
  top: 0;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(2rem);
}

/* ------- Form Link ------- */
.form__link {
  color: #f7f7f7;
  text-decoration: none;
  transition: all 0.2s;
  font-size: 1.4rem;
  padding: 1rem 0;
}

.form__link:hover {
  color: #0288d1;
}

.form__link-register {
  display: flex;
  justify-content: center;
  width: 90%;
  text-transform: uppercase;
  cursor: pointer;
}

/* ------- Button Styling ------- */
.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.2rem 4rem;
  display: inline-block;
  border-radius: 0.5rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

/* .btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
} */

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--blue {
  background: linear-gradient(to right bottom, #039be5, #0288d1);
  color: #fff;
}

.btn--login{
  width: 90%;
}